/* Configurações Gerais */
@import "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
}

/* Configurações Conteúdo */

main {
    margin: 5%;
    margin-bottom: 10%;
}

.title {
    font-size: 2.3rem;
    text-align: center;
}

.img-triangulo-pascal {
    margin: 25% 0% 0% 0%;
    height: 35vh;
    width: 90vw;
    text-align: center;
}

.container {
    margin: 15% 0% 0% 0%;
}

.conteudo {

}

.explicacao {
    
}

.text-subtitle {
    margin: 20% 0%;
    text-align: center;
    font-size: 1.5rem ;
}

.text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 20% 0% 0% 0%;
}

.img-combinacao {
    margin: 10% 0% 0% 0%;
    text-align: center;
}

.resposta {
    margin: 5%;
    font-size: 1.1rem;
}

/* Parte do footer */

footer {
    padding: 10%;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(27, 29, 32);
}

.copy {
    margin-bottom: 5%;
}

.contato {
    display: flex;
    align-items: center;
    height: 10vh;
}

span {
    margin: 0% 3%;
}

.img-rede-sociais {
    height: 5vh;
    width: 10vw;
    border-radius: 50%;
}
